# Ignore WebStorm project files
.idea/

# Ignore Elm binary files
elm_0.19.1_linux-64-bit_binary.gz
elm_0.19.1_linux-64-bit_binary/

# Ignore ROC binary files
roc-linux_x86_64-alpha3-rolling.tar.gz
roc_nightly-linux_x86_64-2025-03-04-3da0934/